<%= simple_form_for([@meal, @food]) do |f| %>
  <div id="search-data" data-foods="<%= @foods.to_json %>">
    <%= f.input :name, autocomplete: :off %>
  </div>
  <%= f.input :amount %>
  <%= f.input :unit %>
  <%= f.submit class: 'btn btn-info mb-3' %>

<% end %>
<%= link_to "Back", meals_path, class: 'back'%>
