<%= render 'shared/sidebar' %>
<div class="content">
  <div class="row mx-0">
    <% @meals.each do |meal| %>
      <div class="col-md-3">
        <div class="wrapper">
          <div class="meal-box mb-2">
            <div class="meal-header pb-1">
              <h6><%= meal.name.upcase %></h6>
              <%= link_to edit_meal_path(meal) do %>
                <i class="fas fa-edit"></i>
              <% end %>
              <%= link_to new_meal_food_path(meal) do %>
                <i class="fas fa-plus"></i>
              <% end %>
              <%= link_to meal_path(meal), method: :delete, data: {confirm: "Delete #{meal.name}?"} do %>
                <i class="far fa-trash-alt"></i>
              <% end %>
              <div class="meal-category">
                <p><%= meal.category %></p>
              </div>
            </div>
            <div class="show-food">
              <p>SHOW FOOD</p>
              <i class="fas fa-caret-down"></i>
            </div>
            <div class="food-box hide">
              <ul class="food-info mt-2 mb-0">
                <% @foods.each do |food| %>
                  <% if meal.id == food.meal_id %>
                    <div class="food-icons">
                      <li class="toggle-nutrients"><%= food.amount.round %><%= food.unit %> <strong><%= food.name %></strong></li>
                      <div class="food-icons">
                        <%= link_to edit_meal_food_path(meal, food) do %>
                          <i class="fas fa-edit"></i>
                        <% end %>
                        <%= link_to food_path(food), method: :delete, data: {confirm: "Delete #{food.name} form #{meal.name}?"} do %>
                          <i class="far fa-trash-alt"></i>
                        <% end %>
                      </div>
                    </div>
                    <div class="nutrients hide">
                      <% @nutrients.each do |nutrient| %>
                        <% if food.id == nutrient.food_id %>
                          <li class="nutrient-info"><%= nutrient.amount.round %> <%= nutrient.unit %> <%= nutrient.name %></li>
                        <% end %>
                      <% end %>
                    </div>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </div>
          <% @sum_e = 0 %>
          <% @sum_p = 0 %>
          <% @sum_f = 0 %>
          <% @sum_c = 0 %>
          <% @foods.each do |food| %>
            <% if meal.id == food.meal_id %>
              <% @nutrients.each do |nutrient| %>
                <% if food.id == nutrient.food_id %>
                  <% if nutrient.name == 'Energy' %>
                    <% @sum_e += nutrient.amount %>
                  <% elsif nutrient.name == 'Protein' %>
                    <% @sum_p += nutrient.amount %>
                  <% elsif nutrient.name == 'Fat' %>
                    <% @sum_f += nutrient.amount %>
                  <% elsif nutrient.name == 'Carbohydrates' %>
                    <% @sum_c += nutrient.amount %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
          <div class="nutrition-sum">
            <div class="sum">
              <p>Energy (kcal)</p><p><strong><%= @sum_e.round %></strong></p>
            </div>
            <div class="sum">
              <p>Protein (g)</p><p><strong><%= @sum_p.round %></strong></p>
            </div>
            <div class="sum">
              <p>Fat (g)</p><p><strong><%= @sum_f.round %></strong></p>
            </div>
            <div class="sum">
              <p>Carbs (g)</p><p><strong><%= @sum_c.round %></strong></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to "Add Meal", new_meal_path, class: 'add'%>
</div>
